<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_change_order %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_change_order %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

        <table border="2" bordercolor="#000000" style="width: 100%;" id="query-table-orders">
        <tr>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_order %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
            ID
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_receiver %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_phone_number %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_address %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_order_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_sending_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_item_code %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_item_content %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_card_number %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_card_pwd %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_status %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_operate %>
            </th>
        </tr>
        <tr id="fake-data-order-list"></tr>
        </table>

      <!-- content end -->
      
    </div>
  </section>
</div>