<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_change_filter %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_change_filter %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <div>
        <%= txt_filter_by_type %>:
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="1" checked="checked"> <%= txt_type_card %>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="2" checked="checked"> <%= txt_type_real %>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="3" checked="checked"> <%= txt_type_game %>
        </label>
      </div>
      <div>
        <%= txt_filter_by_status %>:
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="0" checked="checked"> <%= txt_status_comfirming %>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="1" checked="checked"> <%= txt_status_sending %>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="2" checked="checked"> <%= txt_status_success %>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="3" checked="checked"> <%= txt_status_cancel %>
        </label>
      </div>

      <!-- content end -->
      
    </div>
  </section>
</div>