<div class="col-md-6">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_control_player %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_control_player %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <div>
        <label><%= txt_player_uid %></label>
        <input id="input-uid" name="txt" type="text" class="form-control input-lg" />
        <button id="btn_query_player"><%= txt_query %></button>
      </div>

      <table border="2" bordercolor="#000000" style="width: 100%;" id="query-table-orders">
        <tr>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_key %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_val %>
            </th>
        </tr>
        <tr id="fake-data-order-list">
            <td style="border: solid thin #000000" class="cell-padding cell-align-center"><%= txt_player_nickname %></td>
            <td style="border: solid thin #000000" class="cell-padding cell-align-center" id="nickname"><b></b></td>
        </tr>
        <tr id="fake-data-order-list">
            <td style="border: solid thin #000000" class="cell-padding cell-align-center"><%= txt_player_recharge %></td>
            <td style="border: solid thin #000000" class="cell-padding cell-align-center" id="playerRecharge"><b></b></td>
        </tr>
        <tr id="fake-data-order-list">
            <td style="border: solid thin #000000" class="cell-padding cell-align-center"><%= txt_player_cash %></td>
            <td style="border: solid thin #000000" class="cell-padding cell-align-center" id="playerCash"><b></b></td>
        </tr>
        <tr id="fake-data-order-list">
            <td style="border: solid thin #000000" class="cell-padding cell-align-center"><%= txt_player_gold %></td>
            <td style="border: solid thin #000000" class="cell-padding cell-align-center" id="gold"><b></b></td>
        </tr>
        <tr id="fake-data-order-list">
            <td style="border: solid thin #000000" class="cell-padding cell-align-center"><%= txt_player_profit %></td>
            <td style="border: solid thin #000000" class="cell-padding cell-align-center" id="profit"><b></b></td>
        </tr>
      </table>
      <div><%= txt_player_catch_rate %></div>
        <div id="containerSliderPlayer" class="mt-lg mb-lg slider-primary" 
            data-plugin-slider data-plugin-options='{ "value": 100, "range": false, "min":50, "max": 150 }' 
            data-plugin-slider-output="#listenSliderPlayer">
            <input id="listenSliderPlayer" type="hidden" value="100" />
        </div>
        <p class="output_player"><%= txt_current_value %> <b>100</b>%</p>

        <div>
            <label><%= txt_player_expire_profit %></label>
            <input id="input-gold" name="txt" type="number" class="form-control input-lg" />
        </div>

        <button id="btn_change_rate_player"><%= txt_commit %></button>

      <!-- content end -->
      
    </div>
  </section>
</div>