<div class="col-md-6">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_control_profit_chart %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_control_profit_chart %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <div>
        <button id="btn_query_profit"><%= txt_regain %></button>
      </div>

      <table border="2" bordercolor="#000000" style="width: 100%;" id="query-table-orders">
        <tr>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_player_uid %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_player_nickname %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_player_recharge %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_player_cash %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_player_gold %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_gain %>
            </th>
            <th class="cell-padding cell-align-center cell-head"
                style="border: solid thin #000000;background-color: #dfdfdf;text-align:center;">
                <%= txt_catch_rate %>
            </th>
        </tr>
        <tr id="placeHolderProfit"></tr>
      </table>

      <!-- content end -->
      
    </div>
  </section>
</div>