<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_query_log %>
      </h2>
      <p class="panel-subtitle">
        <%= txt_content_query_log %>
      </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <!-- 查询按钮 -->
      <div class="col-md-12 form-group mb-lg">
        <button id="btn-query-log" class="btn btn-primary hidden-xs">
          <%= txt_query %>
        </button>
      </div>

      <!-- 玩家UID -->
      <div class="col-md-3 form-group mb-lg">
        <label>UID</label>
        <input id="input-uid" name="txt" type="text" class="form-control input-lg" />
      </div>

      <!-- 查询类型选择(下拉框) -->
      <div class="col-md-3 form-group mb-lg">
        <label>
          <%= txt_type_select %>
        </label>
        <br>
        <select id="input-type" name="input-type">
          <option value="1">
            <%= txt_gold_log %>
          </option>
          <option value="2">
            <%= txt_diamond_log %>
          </option>
          <option value="3">
            <%= txt_weapon_log %>
          </option>
          <option value="4">
            <%= txt_skill_log %>
          </option>
        </select>
      </div>

      <!-- 显示列表 -->

      <div id="gold-log" style="display:none;">
        <table style="width: 100%;" class="table-striped table-bordered">
          <tr>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              ID
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_gain %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_cost %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_left %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_scene %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_level %>
            </th>
          </tr>
          <tr id="fake-data-query-log-gold"></tr>
        </table>
      </div>

      <div id="skill-log" style="display:none;">
        <table style="width: 100%;" class="table-striped table-bordered">
          <tr>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              ID
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_skill %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_gain %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_cost %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_left %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_desc %>
            </th>
          </tr>
          <tr id="fake-data-query-log-skill"></tr>
        </table>
      </div>

      <div id="pearl-log" style="display:none;">
        <table style="width: 100%;" class="table-striped table-bordered">
          <tr>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              ID
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_gain %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_cost %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_left %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_scene %>
            </th>
          </tr>
          <tr id="fake-data-query-log-pearl"></tr>
        </table>
      </div>

      <div id="weapon-log" style="display:none;">
        <table style="width: 100%;" class="table-striped table-bordered">
          <tr>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              ID
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_time %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_weapon_lvl %>
            </th>
            <th class="cell-padding cell-align-center cell-head" style="border: solid thin #eeeeee;background-color: #dfdfdf;">
              <%= txt_weapon_upgrade %>
            </th>
          </tr>
          <tr id="fake-data-query-log-weapon"></tr>
        </table>
      </div>

      <!-- content end -->

    </div>
  </section>
</div>