            <div class="col-md-12">
              <section class="panel">
                <header class="panel-heading">
                  <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                  </div>

                  <h2 class="panel-title">
                    <%= txt_title_card_user_list %>
                  </h2>
                  <p class="panel-subtitle">
                    <%= txt_content_card_user_list %>
                    </p>
                </header>
                <div class="panel-body" id="panel-card-user-list">
                  <button id="btn-get-carduser-list" class="btn btn-primary hidden-xs"><%= txt_get_card_user %></button>

                  <table style="width: 100%;" class="table-striped table-bordered" id="table_card_user_list">
                    <tr>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_card_start_date %>
                      </th>

                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        UID
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_nickname %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_card_level %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        SID
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_card_status %>
                      </th>
                    </tr>
                    <tr id="fake-data-carduser-list"></tr>
                  </table>
                  
                </div>
              </section>
            </div>