            <div class="col-md-12">
              <section class="panel">
                <header class="panel-heading">
                  <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                  </div>

                  <h2 class="panel-title">
                    <%= txt_title_table_pay %>
                    </h2>
                  <p class="panel-subtitle">
                    <%= txt_content_table_pay %>
                    </p>
                </header>
                <div class="panel-body">

                  <div id="pay_stat">
                    <div>
                      <%= txt_total_rechage_money %><div id="pay_sum"></div>
                    </div>
                    <div>
                      <%= txt_total_rechage_player %><div id="pay_user_count"></div>
                    </div>
                  </div>

                  <table style="width: 100%;" class="table-striped table-bordered" id="log-table">
                    <tr>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_pay_time %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_platform %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_game_id %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_platform_id %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_game_order_id %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_platform_order_id %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_item_id %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_item_price %>
                      </th>
                    </tr>
                    <tr id="fake-data"></tr>
                  </table>
                  
                </div>
              </section>
            </div>