<div class="col-md-12">
    <section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
        </div>

        <h2 class="panel-title">
        <%= txt_title_payuser_rank %>
        </h2>
        <p class="panel-subtitle">
        <%= txt_content_payuser_rank %>
        </p>
    </header>
    <div class="panel-body" id="panel-pay-user">
        <button id="btn-get-payuser-rank" class="btn btn-primary hidden-xs"><%= txt_get_payment_chart %></button>

        <div id="payuser-rank-table-div">
            <table style="width: 100%;" class="table-striped table-bordered" id="payuser-rank-table">
                <tr>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                    UID
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_player_platform_id %>
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_nickname %>
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_level %>
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_player_rmb %>
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                    VIP
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_pay_times %>
                    </th>
                    <th class="cell-padding cell-align-center cell-head"
                        style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        <%= txt_pay_money %>
                    </th>
                </tr>
                <tr id="fake-data-payuser-rank"></tr>
            </table>
        </div>
    </div>
    </section>
</div>