            <div class="col-md-12">
              <section class="panel">
                <header class="panel-heading">
                  <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                  </div>

                  <h2 class="panel-title">
                    <%= txt_title_table %>
                  </h2>
                  <p class="panel-subtitle">
                    <%= txt_content_table %>
                    </p>
                </header>
                <div class="panel-body">

                  <table style="width: 100%;" class="table-striped table-bordered" id="query-table">
                    <tr>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_pay_date %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_active_player %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_recharge_people %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_recharge_count %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_recharge_money %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_1st_pay_user %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_1st_day_user %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                          <%= txt_pay_rate %>
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        ARPU
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        ARPPU
                      </th>
                    </tr>
                    <tr id="fake-data"></tr>
                  </table>
                  
                </div>
              </section>
            </div>